<div class="uk-position-center">
    <div class="uk-padding-large uk-padding-remove-top uk-text-center" style="font-family: Lucida Console, Monaco, monospace">
    </div>
    <div class="uk-margin-auto" style="width: 250px">
        <form class="uk-form-stacked" action="/login" method="post">
            <div class="uk-margin">
                {{#if message}}
                <div class="uk-alert uk-alert-danger" >{{message}}</div>
                {{/if}}
                <div class="uk-margin-small">
                    <div class="uk-form-controls">
                        <input class="uk-input uk-width-1-1" placeholder="user" type="text" name="username" value=""> </div>
                </div>
                <div class="uk-margin-small">
                    <div class="uk-form-controls">
                        <input class="uk-input uk-width-1-1" placeholder="password" type="password" name="password" value=""> </div>
                </div>
                <div class="uk-form-controls">
                    <input class="uk-input uk-width-1-1 uk-button uk-button-default" type="submit" value="Enter" name="login" autofocus=true>
                    
                    </input>
                </div>
             
            </div>
        </form>
    </div>


</div>